{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ポートフォリオ</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>作品No.1 OshiMate</h2>

    <div style="border: 1px solid #ccc; width: 400px; height: 200px; text-align:center; padding-top:80px;">
        アプリのスクショ
    </div>

    <p>
        オタク向けライブ遠征準備アプリ。持ち物リストを作成・管理・共有できます。
    </p>

    <div>
        <a href="{% static 'documents/plan.pdf' %}" target="_blank">企画書</a> /
        <a href="{% static 'documents/ui_design.pdf' %}" target="_blank">画面設計図</a> /
        <a href="{% static 'documents/transition.svg' %}" target="_blank">画面遷移図</a> /
        <a href="{% static 'documents/er.svg' %}" target="_blank">ER図</a>
    </div>

    <br>

    <a href="/oshimate/" class="btn btn-primary">このアプリにアクセス</a>
</body>
</html>
